html,body {height:100%;}

/* Variables */
$gap: 10px;
$negGap: -10px;
$key-color: #dddddd;

/* Mixins */
@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
}

.hidden {
    display: none;
}

.mkb-shadow  {
    -webkit-box-shadow: 10px 10px 6px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 6px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 6px -5px rgba(0,0,0,0.5);
}


.triangle {
    content:"";
    border-color:transparent #111111;
    border-style:solid;
    border-width:0.30em 0 0.30em 0.40em;
    display:block;
    height:0;
    width:0;
    left:-0.75em;
    top:0.85em;
    position:relative;
}

.mkb-wrap {
    position: aboslute;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    padding: $gap;
    
    /* Border */
    border: 1px solid $key-color;
    @include border-radius(10px);
    
    background-color: #ffffff;
}

.mkb-container {
    position: aboslute;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 500px;
}

.mkb-hlist {
    @extend .mkb-container;
    display: table;
    
    ul {
        position: relative;
        display: table-row;
        list-style: none;
        width: 100%;
    }
    
    li {
        display: table-cell;
    }
    
    a {
        display: block;
        text-decoration: none;
        padding: 6px 8px;
        color: #00BDD8;
    }
    
    a:hover {
        color: #00d887;
    }
}

.mkb-lang-list {
    border: 1px solid $key-color;
    display: block;
    
    li {
        border-left: 2px solid $key-color;
    }
    
    li:first-child {
        border-left: none;
    }
}

.mkb-keys {
    @extend .mkb-hlist;
    margin: 2px 0;
    
    li {
        width: 25px !important;
        height: 30px !important;
        border: 1px solid $key-color;
    }
    
    li:hover {
        background-color: $key-color
    }
    
    a {
        margin: 0 auto;
        padding: 8px;
    }
}



















